<div class="relative text-sm break-words my-2 flex items-start">
    
    <i *ngIf="message.isError" 
       class="fa-solid fa-triangle-exclamation mr-2 mt-2.5 flex-shrink-0 text-red-500">
    </i>
    
    <div
        class="px-4 py-2.5 rounded-2xl max-w-[85%] prose transition-colors"
        [ngClass]="{
            'bg-gray-100 dark:bg-dark-input text-gray-800 dark:text-gray-100 shadow-sm rounded-tr-sm': message.sender === 'user' && !message.isError,
            
            'bg-red-50 dark:bg-red-900/20 text-red-900 dark:text-red-100 shadow-sm border border-red-100 dark:border-red-800': message.isError,
            
            'bg-transparent pl-0 text-gray-800 dark:text-gray-100': message.sender !== 'user' && !message.isError
        }"
        [innerHTML]="formattedContent">
    </div>

</div>