<div id="profile-menu" class="absolute bottom-full left-4 right-4 mb-2 bg-white dark:bg-dark-modal rounded-xl shadow-xl border border-gray-200 dark:border-gray-700 overflow-hidden transition-all origin-bottom opacity-100 scale-100">
    <div class="p-1">
        <button (click)="print('Abrir conf')" class="w-full text-left px-3 py-2.5 hover:bg-gray-100 dark:hover:bg-gray-700 rounded-lg text-sm flex items-center gap-2">
            <i class="fa-solid fa-sliders"></i> Configurações
        </button>
        <button (click)="print('Sair')" class="w-full text-left px-3 py-2.5 hover:bg-gray-100 dark:hover:bg-gray-700 rounded-lg text-sm flex items-center gap-2 text-red-500">
            <i class="fa-solid fa-arrow-right-from-bracket"></i> Sair
        </button>
    </div>
</div>