.main-panel{
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    height: 100%;
    height: fit-content;
    margin: auto;
    padding-bottom: 73px;
}