<div class="relative mb-3">
    <button (click)="togglePopup()" 
            class="w-full flex items-center gap-3 p-3 rounded-full transition-all duration-200 
                   text-gray-300 hover:text-white 
                   hover:bg-[#333537] 
                   group focus:outline-none" 
            id="profile-btn">
    
        <i class="fa-solid fa-gear text-gray-400 group-hover:text-white transition-colors text-lg ml-1"></i>
        
        <span class="font-medium text-left flex-1 text-sm">Configurações e Ajuda</span>
    
    </button>
    
    <app-popup-general-options *ngIf="uiService.isProfileSettingsModalOpen()"></app-popup-general-options>
</div>